@media (max-width: 1280px){
    body {
        padding: 0 40px;
    }
}

@media (max-width: 768px){
    .main-content-information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-content-description {
        width: 60%;
        text-align: center; 
    }
}

@media (max-width: 425px) {
    .main-content-logo {
        max-width: 300px;
    }

    .main-content-description {
        width: 100%;
    }

    .main-content-social {
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .main-content-social ul {
        flex-direction: row;
    }

    .main-content {
        min-height: 70vh;
        gap: 50px;
    }

    body {
        padding: 40px;
    }
}