body {
  font-family: "Poppins", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

main:after {
  content: "";
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.690093224789916) 15%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 85%
  );
  z-index: -1;
}

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.main-background-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: none;
  animation: changeImage 0.7s;
}

@keyframes changeImage {
  from {
    opacity: 0.85;
  }
  to {
    opacity: 1;
  }
}

.main-background-image.active {
  display: block;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-evenly;
}

.main-content-information {
  background-color: transparent;
}

.main-content-logo {
  max-width: 350px;
  filter: invert(1);
  margin-bottom: 80px;
}

.main-content-description {
  width: 48%;
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
}

.main-carrousel {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-carrousel-button {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  border-color: #ffffff;
}

.main-carrousel-button.select {
  background-color: #1d8346;
}

.main-content-social {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-content-social ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-content-social-icon {
  width: 30px;
  filter: invert(1);
  transition: 0.3s ease-in-out;
}

.main-content-social-icon:hover {
  transform: scale(1.2);
}
